appdirs==1.4.4
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cycler==0.11.0
cymem==2.0.6
Flask==2.1.0
Flask-Cors==3.0.10
fonttools==4.31.2
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.0
langcodes==3.3.0
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.1
murmurhash==1.0.6
nltk==3.5
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pandas-datareader==0.10.0
pathy==0.6.1
Pillow==9.0.1
preshed==3.0.6
pydantic==1.8.2
pyee==8.2.2
pyparsing==3.0.7
pyppeteer==1.0.2
python-dateutil==2.8.2
pytz==2022.1
regex==2022.3.15
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
smart-open==5.2.1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.2
thinc==8.0.15
threadpoolctl==3.1.0
tqdm==4.63.0
typer==0.4.1
typing_extensions==4.1.1
urllib3==1.26.9
wasabi==0.9.1
websockets==10.2
Werkzeug==2.1.0
zipp==3.7.0
python-binance
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
async-timeout==4.0.2
attrs==21.4.0
binance==0.3
blis==0.7.7
catalogue==2.0.7
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cycler==0.11.0
cymem==2.0.6
dateparser
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
Flask==2.1.0
Flask-Cors==3.0.10
fonttools==4.31.2
frozenlist==1.3.0
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous==2.1.2
Jinja2==3.1.1
joblib==1.1.0
kiwisolver==1.4.0
langcodes==3.3.0
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib==3.5.1
multidict==6.0.2
murmurhash==1.0.6
nltk==3.5
numpy==1.22.3
packaging==21.3
pandas==1.4.1
pandas-datareader==0.10.0
pathy==0.6.1
Pillow==9.0.1
pluggy==1.0.0
preshed==3.0.6
py==1.11.0
pydantic==1.8.2
pyee==8.2.2
pyparsing==3.0.7
pyppeteer==1.0.2
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.15
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
smart-open==5.2.1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
srsly==2.4.2
thinc==8.0.15
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.63.0
typer==0.4.1
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
ujson==5.2.0
urllib3==1.26.9
wasabi==0.9.1
websockets==10.2
Werkzeug==2.1.0
yarl==1.7.2
zipp==3.7.0
